body, html {
    padding-top: 2.5em;
    margin: 0;
    background-color: #fafafa;
}

/* Header */

header {
    width: 100%;
    vertical-align: middle;
    text-align: center;
    
}

.header-content {
    display: inline-block;
}

.header-text {
    margin-top: 0.5em;
    margin-left: 1em;
}

header p {
    text-align: center;
    font-family: "Merriweather";
    
    margin: 0;
    
    color: #212121;
}

.first-name {
    font-size: 1.45em;
}

.subtitle {
    font-family: "Merriweather";
    padding-top: .3em;
    font-size: 1em;
    font-weight: 500;
    color: #424242;
}

/* Information */

.main-container {
    margin: 0 auto;
    margin-bottom: 1em;
    
    background-color: white;
    width: 60%;
    
    padding: 0.5em 0 0.5em 0;
    border: 3px solid #e0e0e0;
    border-radius: 3px;
}

/* Content Part */

.content-wrapper {
    padding-right: 7.25%;
}

.content {
    display: table;
    width: 100%;
    
    padding-top: 1.5em;
    
    /*border-top: 1px solid #eeeeee;*/
}

.content:last-child {
    padding-bottom: 1.5em;
}

.row {
    display: table-row;
}

.row div {
    display: table-cell;
}

.content-left {
    font-family: "Merriweather";
    font-variant: small-caps;
    font-weight: 300;
    letter-spacing: 1px;
    
    color: #212121;
    
    font-size: 1.3em;
    
    text-align: center;
    vertical-align: middle;
    
    padding-left: 6.66%;
    width: 36.66%;
}

.content-left p {
    font-size: 0.55em;
    font-weight: 600;
    
    margin-bottom: 0;
}

.content-text {
    border-left: 1px solid #e0e0e0;
    transition: border 0.66s ease-in;
}

.content-text:hover {
    border-left: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
}

.big-text {
    vertical-align: top;
    
    padding-top: 1.25em;
}

.content-text ul {
    padding: 0;
    margin: 0;
    margin-top: 0.15em;
    
    width: 85%;
    margin-left: 1.5em;
}

.content-text ul:last-child {
    margin-bottom: 0.5em;
}

.content-text ul li {
    font-family: "Open Sans";
    font-size: 1.1em;
    
    display: inline-block;
    
}

.content-text ul li:first-child {
    width: 35%;
    
    color: #424242;
    
    font-weight: 600;
}

.content-text ul li a {
    text-decoration: none;
    color: #0277bd;
}

.content-text ul li a:hover {
    color: #4fc3f7;
}

.heading-other {
    font-size: 1.1em !important;
}

a.heading-other {
    color: #0277bd;
    text-decoration: none;
}

a.heading-other:hover {
    color: #4fc3f7;
}
.content-text.skills-listing > ul {
    display: table-row;
}

.content-text.skills-listing > ul:last-child {
    margin-bottom: 0;
}

.content-text.skills-listing > ul > li {
    display: table-cell;
    vertical-align: top;
    
    padding-left: 2em;
    
    width: 50%;
    font-weight: 600;
}

.content-text.skills-listing > ul > li span {
    font-weight: 400;
    color: red;
}

.content-text.skills-listing > ul > li > .highlight {
    
    font-size: 1em;
    font-weight: 400;
    
    margin-left: 1.25em;
}

div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}
